*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

.menu {
    height: 10vh;
    width: 100vw;
    background-color: rgb(24, 1, 43);
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
}
.conteudo-p1, .conteudo-p2 {
    flex: 1;
}

.conteudo-p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 138, 156);
}

.conteudo-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(141, 138, 156);
    padding: 5vw;
}

.habilidade p{
    font-weight: bold;
}

.projetos {
    padding-top: 10px;;
    width: 100vw;
    background-color: rgb(24, 1, 43);
}

.conteudo-projetos{
    width: 100vw;
}

.projetos-titulo h1 {
    cursor:default;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.projetos-iten {
    display: flex;
}

.item-projeto-grid {
    flex: 1;
    margin: 40px;
    border: 1px solid black;
    height: 25vh;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.rodape{
    height:100px;
    width: 100vw;
    background-color: rgb(14, 0, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape p {
    font-size: 0.8rem;
    color: white;
    cursor:default;
}